<h1>Team</h1>
<div>Team Name:<%= @team[:name]%></div>
<div>Team Motto: <%= @team[:motto]%></div>
<div>Hero Name: <%= @team[:members][0][:name]%></div>
<div>Hero Power: <%= @team[:members][0][:power]%></div>
<div>Hero Biography: <%= @team[:members][0][:bio]%></div>
<div>Hero Name: <%= @team[:members][1][:name]%></div>
<div>Hero Power: <%= @team[:members][1][:power]%></div>
<div>Hero Biography: <%= @team[:members][1][:bio]%></div>
<div>Hero Name: <%= @team[:members][2][:name]%></div>
<div>Hero Power: <%= @team[:members][2][:power]%></div>
<div>Hero Biography: <%= @team[:members][2][:bio]%></div>





